:root {
  /*colors*/
  --primary: #191645;
  --secondary: #43c6ac;
  --tertiary: #ffffff;

  /*backgroud*/
  --bg-color-secondary: hsla(168, 53%, 52%, 0.08);
  --bg-color-secondary-hover: hsla(168, 53%, 52%, 0.2);

  /*btn colors*/
  --btn-color-secondary: hsl(168, 53%, 52%);
  --btn-color-secondary-hover: hsl(168, 48%, 47%);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 !important;
}

ul {
  padding: 0 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  min-height: calc(100vh - 55px);
}
