#contact-main {
  min-height: calc(100vh - 64px);
  background-color: #f5f7fa;
  padding: 10px;
}
#contact-main .contact-body {
  width: clamp(95%, 70%, 1000px);
  max-width: 1000px;
  margin: auto;
  background-color: white;
}
#contact-main .contact-map {
  height: 400px;
}
#contact-main .info-card {
  display: flex;
  align-items: center;
}
#contact-main .info-card img {
  width: 20px;
  margin-right: 4px;
  margin-left: 3px;
}
#contact-main .info-card:nth-child(4) img {
  width: 25px;
  margin-left: 0;
}
#contact-main .submit {
  background-color: var(--btn-color-secondary);
  color: white;
}
#contact-main .submit:hover {
  background-color: var(--btn-color-secondary-hover);
}
