@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-Variable.ttf") format("truetype");
}

@font-face {
  font-family: "PTSans";
  src: url("../../fonts/PTSans-Regular.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Nunito" !important;
}

div,
p,
span {
  font-family: "PTSans" !important;
}
