#profile {
  min-height: calc(100vh - 64px);
  max-width: 1300px;
  margin: auto;
}
#profile-hero > div {
  position: relative;
  background-color: var(--bg-color-secondary);
  min-height: 100px;
  margin-top: 100px;
  border-radius: 10px 10px 0 0;
}
#profile-hero .profile-img {
  background-color: white;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#profile-hero .row {
  max-width: 1200px;
  margin: 0 !important;
}
#profile-hero .col-lg-6 {
  padding: 5px 10px;
}
#profile-hero .info-card {
  background-color: white;
  margin-bottom: 5px;
  border-radius: 8px;
  padding: 5px;
}
#profile-hero .info-card .upgrade {
  background-color: var(--btn-color-secondary);
  font-size: 14px;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 0 10px;
  font-weight: bold;
  transition: all 0.3s ease-in;
}
#profile-hero .info-card .upgrade:hover {
  background-color: var(--btn-color-secondary-hover);
}

.profile-action {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  cursor: pointer;
}
.profile-action.edit {
  background-color: rgb(174, 244, 174);
}
.profile-action.change {
  background-color: rgb(187, 174, 244);
}
.profile-action.delete {
  background-color: rgb(244, 174, 174);
}
.profile-action.edit-phone {
  margin: 0px 0px 0px 4px;
  padding: 0px 1px 1px 2px;
  width: 20px;
  aspect-ratio: 1;
  background-color: rgb(174, 244, 174);
}
.profile-action img {
  width: 80%;
  aspect-ratio: 1;
}

/*Models*/
#edit-profile {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
#edit-profile .card {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  position: relative;
}
#edit-profile .close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
}
#change-password {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
#change-password .card {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  position: relative;
}
#change-password .close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
}
#change-phone-no {
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
}
#change-phone-no .card {
  padding: 20px;
  width: 100%;
  max-width: 400px;
  background-color: white;
  position: relative;
}
#change-phone-no .close-btn {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;
  cursor: pointer;
}

/*Pricing*/
#price-and-packages {
  min-height: 400px;
  padding: 40px 0;
}
#price-and-packages .our-pricing-main {
  max-width: 1300px;
}
#price-and-packages .our-pricing-card {
  width: 300px;
  text-align: center;
  background-color: var(--bg-color-secondary);
  margin-bottom: 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
#price-and-packages .our-pricing-card div {
  padding: 17px;
}
#price-and-packages .our-pricing-card .pricing {
  background-color: var(--secondary);
  color: white;
}
#price-and-packages .our-pricing-card .pricing span {
  font-size: 15px;
}
#price-and-packages .our-pricing-card .op-features {
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}
#price-and-packages .our-pricing-card button {
  height: 50px;
  width: 200px;
  background-color: var(--secondary);
  border: none;
  color: white;
}
#price-and-packages .our-pricing-card:hover {
  background-color: var(--bg-color-secondary-hover);
}
#price-and-packages .our-pricing-card:hover .pricing,
#price-and-packages .our-pricing-card:hover button {
  background-color: var(--btn-color-secondary-hover);
}

#profile .btn-c-secondary {
  background-color: var(--secondary);
  color: white;
}

/*pagination*/
.bg-secondary {
  background-color: var(--secondary) !important;
  color: white !important;
}
